.blog-slider-section {
  padding: 0px 50px 50px 50px;
  background-color: #000;
  font-family: Arial, sans-serif;
  position: relative;
}

.blog-slide {
  /* background-color: #000; */
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  position: relative;
}


.blog-slide::after {
  content: '';
  position: absolute;
  top: 20%;
  right: 0;
  width: 2px;
  height: 60%;
  background-color: #fcfcfc27;
}

.blog-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.blog-time {
  font-size: 14px;
  color: #fff;
  margin-bottom: 15px;
}

/* Arrow inside slider */
.slick-prev {
  display: none !important;
}

.slick-next {
  position: absolute;
  bottom: 20px;
  right: 0px !important;
  z-index: 2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  
}


.slick-dots {
  display: none;
}
.slick-next:before{
    font-size: 40px !important;
}
.slider-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.breaking-news-btn {
  background-color: #facc15;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.view-all-link {
  color: #facc15;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow-icon {
  font-size: 18px;
}
