.post-section {
  padding:50px 20px 0px 20px;
  background-color: #000;
  font-family: Arial, sans-serif;
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
  color: #111827;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.post-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.post-card:hover {
  transform: translateY(-5px);
}

.post-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.post-title {
  font-size: 18px;
  color: #ffff;
  margin-bottom: 10px;
  line-height: 1.56em;
}

.post-meta {
    font-size: 14px;
    color: #6b7280;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px;

}

span.post-category {
    
    padding: 6px 20px;
    background: #151516;
    border-radius: 20px;
    text-transform: uppercase;
  
}
span.post-reading-time {
    margin-left: 20px;
      padding: 6px 20px;
    background: #151516;
    border-radius: 20px;
}
span.post-date{
      margin-top: 5px;
      padding: 6px 20px;
    background: #151516;
    border-radius: 20px;
    width: fit-content;
}
