.services-section {
  padding: 80px 20px;
  background: #803C3C;
  color: #fff;
  text-align: center;
}

.services-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.services-subtitle {
  color: #aaa;
  margin-bottom: 40px;
}

/* Grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

/* Card */
.service-card {
  background: #112240;
  padding: 30px 20px;
  border-radius: 16px;
  transition: 0.3s;
  text-align: center;
  border: 1px solid transparent;
}

.service-card:hover {
  transform: translateY(-10px);
  border: 1px solid #00c6ff;
}

/* Icon */
.service-icon {
  font-size: 40px;
  margin-bottom: 15px;
}

/* Title */
.service-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

/* Text */
.service-card p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .services-title {
    font-size: 26px;
  }
}